@import url('https://fonts.cdnfonts.com/css/switzer');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    overflow-x:hidden;
}

img{
    display:block;
    max-width:100%;
}

a{
    color:inherit;
    text-decoration:none;
}

ul{
    list-style:none;
}

button,
input,
textarea,
select{
    font:inherit;
}

:root{

    /* Typography */
    --font-heading:'Switzer',sans-serif;
    --font-body:'Manrope',sans-serif;

    /* Colors */
    --color-primary:#166534;
    --color-secondary:#F5F5F4;
    --color-heading:#18181B;
    --color-text:#52525B;
    --color-white:#FFFFFF;
    --color-border:#E4E4E7;
    --color-background:#f2f2f2;
    --color-alternate:#ebca49;

    /* Radius */
    --radius-sm:8px;
    --radius-md:12px;
    --radius-lg:20px;

    /* Layout */
    --container-width:1200px;
    --container-gap:40px;

    /* Transition */
    --transition:all .4s ease;
}

@media (min-width: 768px) {
  :root {
    --container-gap:120px; 
  }
}

body{
    font-family:var(--font-body);
    color:var(--color-text);
    background:var(--color-white);
    line-height:1.6;
    font-size:16px;
    -webkit-font-smoothing:antialiased; /* Smooth font rendering */
}

.container{
    width:min(100% - var(--container-gap),var(--container-width));
    margin-inline:auto;
}

section{
    padding:clamp(45px, 6.667vw, 96px) 0;
}

.section-subtitle-block{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:center;
    gap: clamp(4px, 0.556vw, 8px);
    margin-bottom: 1.25rem;
    padding:6px 16px;
    background-color:var(--color-background);
    border-radius: 5rem;
}

.section-subtitle-block .subtitle-dot{
    width:.5rem;
    height:.5rem;
    border-radius:100%;
    background-color:var(--color-primary);
}

.section-subtitle-block .subtitle-text{
    font-size:clamp(0.8rem, 1.333vw, 1.2rem);
    text-transform:uppercase;
    letter-spacing:.2em;
}

h1,h2,h3,h4,h5,h6{
    font-family:var(--font-heading);
    color:var(--color-heading);
    font-weight:600;
    line-height:1.15;
}

p{
    font-size:1rem;
}

.btn{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    gap:.5rem;
    padding:clamp(12px, 0.972vw, 14px) clamp(18px, 1.389vw, 20px);
    border-radius:999px;
    transition:var(--transition);
    font-weight:600;
}

.btn-primary{
    background:var(--color-primary);
    color:var(--color-white);
    font-size:clamp(.85rem, 1.333vw, 1.2rem);
}

.btn-primary:hover{
    transform:translateY(-2px);
    filter:brightness(1.05);
}

/* ===================================
   HEADER
=================================== */

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:100;

    background:transparent;
    border-bottom:1px solid transparent;
    padding: clamp(0.4875rem, 0.764vw, 0.6875rem) 0;

    transition:
        background-color .35s ease,
        border-color .35s ease,
        box-shadow .35s ease;
}

.header.scrolled{
    background-color: var(--color-background);
    backdrop-filter:blur(12px);
    border-bottom:1px solid var(--color-border);
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.navbar{
    display:grid;
    grid-template-columns:auto 1fr auto;
    align-items:center;
    min-height:80px;
}

.nav-menu{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:32px;
}

.nav-menu a{
    transition:var(--transition);
    font-weight:500;
    font-size:clamp(.7rem, 1.333vw, 1.2rem);
    color:var(--color-white);
}

.nav-menu a:hover{
    color:var(--color-primary);
}

.header.scrolled .nav-menu a{
    color:var(--color-heading);
}

.header.scrolled .nav-menu a:hover,
.header.scrolled .nav-menu a.active{
    color:var(--color-primary);
}

.navbar .logo img{
    width: 7rem;
}

.header .btn-primary{
    background-color: var(--color-background);
    color: var(--color-primary);
    transition:var(--transition);
    font-size: clamp(.7rem, 1.333vw, 1.2rem);
    font-weight: 800;
}

.header.scrolled .btn-primary{
    background-color: var(--color-primary);
    color: var(--color-white);
}

.menu-toggle{
    display:none;
    background:none;
    border:none;
    cursor:pointer;
}

.menu-toggle span{
    display:block;
    width:26px;
    height:2px;
    margin:6px 0;
    background:var(--color-white);
    transition:var(--transition);
}

.header.scrolled .menu-toggle span{
    background:var(--color-heading);
}

.mobile-menu-header{
    display: none;
}

.mobile-menu-button{
    display: none;
}

@media(max-width:680px){

    .navbar{
        display:flex;
        justify-content:space-between;
    }

    .navbar .logo img{
        width:6rem;
    }

    .navbar .btn{
        display:none;
    }

    .mobile-menu-header{
        display: block;
        width: 6rem;
    }

    .mobile-menu-button, .mobile-menu-button .btn-primary {
        display: block;
        width: 95%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 60px;
    }

    .mobile-menu-button .btn-primary{
        text-align: center;
        background-color: var(--color-primary);
        color: var(--color-white) !important;
    }

    .menu-toggle{
        display:block;
        width:32px;
        height:24px;
        position:relative;
        z-index:1200;
        background:none;
        border:none;
        cursor:pointer;
    }

    .menu-toggle span{
        position:absolute;
        left:0;
        width:100%;
        height:2px;
        margin:0;
        transition:.35s ease;
        transform-origin:center;
    }

    .menu-toggle span:nth-child(1){
        top:0;
    }

    .menu-toggle span:nth-child(2){
        top:11px;
    }

    .menu-toggle span:nth-child(3){
        bottom:0;
    }

    .menu-toggle.active span{
        background-color: var(--color-heading);
    }

    .menu-toggle.active span:nth-child(1){
        top:11px;
        transform:rotate(45deg);
    }

    .menu-toggle.active span:nth-child(2){
        opacity:0;
    }

    .menu-toggle.active span:nth-child(3){
        bottom:11px;
        transform:rotate(-45deg);
    }

    .nav-menu{
        position:fixed;
        top:0;
        right:0;

        width:100%;
        height:100vh;

        background-color:var(--color-white);

        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:flex-start;

        padding:1.1rem;

        gap:28px;

        transform:translateX(100%);
        transition:.35s ease;

        box-shadow:-10px 0 30px rgba(0,0,0,.12);

        z-index:1100;
    }

    .nav-menu.active{
        transform:translateX(0);
    }

    .nav-menu a{
        color:var(--color-heading);
        font-size:1.125rem;
    }

    body.menu-open{
        overflow:hidden;
    }
}

/* ===================================
   HERO
=================================== */

.hero{
    min-height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/hero-image-roofer.webp);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:center;
}

.hero .container{
    display:flex;
    align-items:center;
}

.hero-wrapper{
    width:100%;
    margin-top:clamp(50px, 13.889vw, 200px);
}

.hero-title-block{
    max-width:clamp(350px, 63.194vw, 910px);
    margin-bottom:24px;
}

.hero-title-block h1{
    font-size:clamp(2.150rem,5vw,4.5rem);
    line-height:1.05;
    color:var(--color-white);
}

.hero-summary-block{
    margin-bottom:40px;
    max-width:clamp(250px, 49.306vw, 710px);
}

.hero-summary-block p{
    font-size:clamp(0.7rem, 1.333vw, 1.2rem);
    color:var(--color-white);
}

.hero-button-block{
    display:flex;
    gap:16px;
}


/* ===================================
   ABOUT
=================================== */

.about-heading-block {
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    flex-direction:row;
    flex-wrap:wrap;
    margin-bottom: clamp(2.5rem, 5.556vw, 5rem);
}

.about-heading-block .about-title-block{
    max-width:clamp(350px, 61.111vw, 880px);
}

.about-heading-block .about-title-block h2{
    font-size:clamp(1.125rem, 1.944vw, 1.75rem);
}

.about-info-block {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
}

.about-rating-info-block {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.about-rating-avatar-block {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
}

.about-rating-avatar {
    border:solid 2px var(--color-white);
    border-radius:100%;
    margin-left: -.5rem;
}

.about-rating-text-block {
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    gap: .25rem;
}

.about-rating-star-block {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    gap: .25rem;
}

.about-rating-star{
    width: 1.55rem;
}

.about-rating-text-block p{
    font-size:clamp(0.7rem, 1.333vw, 1.2rem);
    color: var(--color-heading);
    text-align:center;
}

.about-stat-info-block {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    gap: 1.5rem;
}

.about-single-stat-block {
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    align-items:center;
    justify-content:space-between;
    padding-right:1.5rem;
    border-right:1px solid var(--color-border);
}

.about-single-stat-block:last-child{
    border-right:none;
    padding-right:0;
}

.about-stat-number{
    font-size: clamp(2.150rem, 3.889vw, 3.5rem);
    font-weight: 800;
    color: var(--color-primary);
}

@media(max-width:680px){
    .about-info-block{
        display:flex;
        flex-direction:column-reverse;
        flex-wrap:nowrap;
        gap:2rem;
    }
    .about-stat-info-block {
        display:flex;
        flex-direction:column;
        align-items:center;
        flex-wrap:nowrap;
        gap:1.5rem;
    }
    .about-single-stat-block{
        border:0;
        padding:0;
    }
}

/* ===================================
   BENEFITS
=================================== */

.benefit-heading {
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    align-items:center;
    margin-bottom:clamp(2.5rem, 5.556vw, 5rem);
}

.benefit-title-block h2 {
    max-width:clamp(350px, 62.5vw, 900px);
    font-size:clamp(1.55rem, 3.889vw, 3.5rem);
    text-align:center;
}

.benefit-grid {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:clamp(1rem, 2.222vw, 2rem);
}

.benefit-content-block {
    display:flex;
    background-color:var(--color-background);
    padding:clamp(1rem, 2.222vw, 2rem);
    border-radius:var(--radius-lg);
    flex-direction:column;
    gap:clamp(1rem, 2.222vw, 2rem);
    transition:var(--transition);
}

.benefit-content-block:hover{
    transform:translateY(-8px);
}

.benefit-card-icon {
    width:clamp(36px, 3.889vw, 56px);
    height:clamp(36px, 3.889vw, 56px);
    display:inline-flex;
    background-color:var(--color-primary);
    padding:clamp(10px, 0.972vw, 14px);
    border-radius:100%;
}

.benefit-card-text-block {
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    gap:.5rem;
}

.benefit-card-text-block h3{
    font-size:clamp(1.125rem, 1.944vw, 1.75rem);
}

.benefit-card-text-block p{
    font-size:clamp(0.7rem, 1.333vw, 1.2rem);
    line-height: 1.3;
}

@media(max-width:680px){
    .benefit-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ===================================
   CTA
=================================== */

.cta{
    background-color:var(--color-heading);
}

.cta-wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.cta-heading-block{
    display:grid;
    grid-template-columns:1fr 1.3fr;
    gap:clamp(1.5rem, 2.222vw, 2rem);
    align-items:center;
}

.cta-heading-left-block{
    display:flex;
    flex-direction:column;
    gap:2rem;
}

.cta-heading-title{
    font-size:clamp(1.125rem, 1.944vw, 1.75rem);
    line-height: 1.4;
    color:var(--color-white);
    padding-right: 1rem;
}

.cta-heading-image{
    height:clamp(330px, 38.194vw, 550px);
    width:100%;
    object-fit:cover;
    border-radius:var(--radius-lg);
}

@media(max-width:680px){
    .cta-heading-block{
        grid-template-columns:repeat(1, 1fr);
    }
    .cta-heading-left-block{
        grid-row:2;
    }
}

/* ===================================
   CONTACTS
=================================== */

.contact .container{
    position:relative;
    background-color:var(--color-primary);
    padding:clamp(1rem, 2.222vw, 2rem);
    border-radius:var(--radius-lg);
}

.contact .container:after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:.6;
    background-image:url(../images/CTA-Image-BG.webp);
    background-position:bottom right;
    background-repeat:no-repeat;
    background-size:contain;
    border-radius:var(--radius-lg);
    transform:scaleX(-1);
}

.contact-wrapper{
    position:relative;
    z-index:1;
}

.contact-heading-block{
    display:grid;
    grid-template-columns:1fr 1.2fr;
    gap:2rem;
}

.contact-heading-text-block .section-subtitle-block {
    display:inline-flex;
    padding:6px 16px;
    background-color:var(--color-heading);
    border-radius:5rem;
}

.contact-heading-text-block .section-subtitle-block .subtitle-dot{
    background-color: var(--color-alternate);
}

.contact-heading-text-block .section-subtitle-block .subtitle-text{
    color:var(--color-white);
}

.contact-title-block h2{
    font-size:clamp(1.55rem, 3.889vw, 3.5rem);
    color:var(--color-white);
    margin-bottom:.5rem;
}

.contact-summary-block p{
    font-size:clamp(0.7rem, 1.333vw, 1.2rem);
    line-height:1.3;
    color:var(--color-white);
}

.contact-form {
    padding:1.2rem;
    background-color:#ffffff1c;
    backdrop-filter:blur(10px);
    border-radius:var(--radius-lg);
    overflow:hidden;
}

.contact-form-content {
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.form-field-block {
    display: flex;
    flex-direction:column;
    gap:.5rem;
}

.form-field-row{
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.form-field-label {
    font-size:clamp(0.7rem, 1.333vw, 1.2rem);
    line-height:1.3;
    color:var(--color-white);
    font-weight:800;
}

.contact-input, .contact-select {
    min-height:clamp(25px, 3.472vw, 50px);
    border:0;
    border-radius:var(--radius-sm);
    padding:.5rem;
    outline:unset;
}

.form-button-block {
    margin-top:clamp(1rem, 2.222vw, 2rem);
}

.form-button{
    padding:clamp(12px, 0.972vw, 14px) clamp(18px, 1.389vw, 20px);
    border:0;
    border-radius:999px;
    background-color:var(--color-alternate);
    font-size: clamp(.85rem, 1.333vw, 1.2rem);
    font-weight:800;
    letter-spacing:.025rem;
    color:var(--color-heading);
    cursor:pointer;
}

.form-button:hover{
    filter:brightness(1.05);
}

@media(max-width:680px){
    .contact{
        padding:0;
    }
    .contact .container{
        width:100%;
        border-radius:0;
        padding-top:3rem;
        padding-bottom:3rem;
    }
    .contact .container:after{
        border-radius:0;
    }
    .contact-heading-block{
        grid-template-columns:1fr;
    }
}

/* ===================================
   FOOTER
=================================== */

.footer{
    background-color: var(--color-heading);
    padding:clamp(45px, 6.667vw, 96px) 0 20px 0;
}

.footer-wrapper {
    display:flex;
    flex-direction:column;
    gap:2rem;
}

.footer-main-content-block {
    display:grid;
    grid-template-columns:21rem auto;
    justify-content:space-between;
}

.footer-link-content-block {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:1rem;
}

.footer-info-content-block {
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.footer-info-text-block {
    display:flex;
    flex-direction:column;
    gap:.5rem;
}

.footer-logo img {
    width:clamp(100px, 8.681vw, 125px);
}

.footer-summary-block p{
    font-size:1.125rem;
    color:var(--color-white);
    line-height:1.3;
}

.footer-link-block {
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    gap:.5rem;
}

.footer-link-title{
    font-size:1.125rem;
    font-weight:800;
    color:var(--color-white);
    line-height:1.3;
    margin-bottom:.5rem;
}

.link-text{
    color:var(--color-white);
}

.footer-contact-info-block {
    display:flex;
    flex-direction:column;
    gap:.5rem;
}

.footer-contact-text-block {
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    color:var(--color-white);
}

.paragraph-xsmall{
    font-size:1.125rem;
    font-weight:800;
}

.copyright-text-block p {
    padding:1rem 0;
    border-top:1px solid var(--color-white);
    color:var(--color-white);
    text-align:center;
}

.footer-social-info-block {
    display:flex;
    gap:1rem;
}

.footer-social-info-block img{
    width:2rem;
}

@media(max-width:680px){
    .footer-main-content-block{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}